.class-3, .class-1 {
    background-color: pink;
    font-family: "verdana", "dejaVu Sans", sans-serif ;
 }


#ID1 {
    color: blue;
    font-size: 36px;
}
.class-2 {
    background-color: pink;
    font-family: "verdana", "dejaVu Sans", sans-serif ;
    font-size: 24px;
    }
#ID2 {
    background-color:rgb(11, 240, 11);
    font-size: 24px;
    font-weight: bold;
}